<div style="height: fit-content" class="container mt-5">
  <form enctype="multipart/form-data" name="testExampleForm">
    <div *ngIf="!checkPathParam()">
      <label>Example Id:</label>
      <input id="exampleId" type="text" name="example" placeholder="Example Id" required class="form-control">
    </div>
    <label>Username:</label>
    <input type="text" name="username" [value]="username" placeholder="Username" [disabled]="true" required class="form-control">
    <label>Your Sourcecode: </label>
    <input type="file" class="form-control" name="code" accept=".java" multiple required>
  </form>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select (selectionChange)="changeCode($event.value)" [(ngModel)]="selectedValue">
      <mat-option *ngFor="let language of languages" [value]="language.viewValue">
        {{language.language}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  <button mat-raised-button color="primary" (click)="sendSubmission()">Test Your Code</button>
</div>
