<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    LEOCODE
  </span>

  <span style="float:right;display: inline;margin-left: 1450px">
    Logged in as Student
    <button mat-raised-button class="logout" color="primary" [routerLink]="'/login'" >Logout</button>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened #nav>
    <mat-nav-list>
      <mat-list-item>
        Exercises
      </mat-list-item>
      <mat-list-item>
        Reports
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-report *ngIf="isDisplay"></app-report>
  </mat-sidenav-content>
</mat-sidenav-container>
